@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  font-family: "roboto";
  margin: 0;
  background: #2d2d2d;
  color: whitesmoke;
}
